@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{margin: 0;
padding: 0;}
body
{font-family: 
'Montserrat', sans-serif;
width: 1280px;
display: block;
margin-left:auto;
margin-right: auto;
font-style:normal;}
.headert{text-align: center;
	width: 1280px;
	padding-top: 10px;
	padding-bottom: 10px}

.menu{
    list-style: none;
	display: inline-flex;
	
	font-size: 18px;
	padding: 25.5px;
    font-weight: 700;
    
}
.menutext
{color: rgba(255, 0, 0, 1);
font-weight: bold;
text-decoration: none;
margin-left: 40px;
margin-right: 40px;
letter-spacing: 2.7px;
}
.titletext
{
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin: 38px 0 0 253px ;
}

.text{width: 1145px;
	font-size: 16px;
	text-align: center;
	margin-left: 67.5px;
	margin-right: 67.5px;
	color: rgba(55, 55, 55, 1);
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 2.4px;
	line-height: 1.6;}
.button
{
text-align : center;
margin-top : 66px;
}
.button-text
{font-size: 12px;
line-height: 12px;
align-items: center;
letter-spacing: 1.8px;
text-transform: uppercase;
color: #FFFFFF;
background: #FF0000;
border-radius: 4px;
padding: 18px 43.5px 17px 42.5px;
}
.footer{color:#373737;
    font-weight: 700;
    width: 1280px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 105px;
    letter-spacing: 2.4px;
    margin-top: 82px;
    margin-bottom:29px;
    display: block;
padding: 0 105px 29px 723px;} 